 /* RESET ---------------------------------------------------------------------------------------- */

    html, body, div, form, p,
    code, pre { margin: 0; padding: 0; border: 0; vertical-align: baseline; font-family: sans-serif; }
/* ---------------------------------------------------------------------------------------- RESET */

body {
    font-family: "Trebuchet MS";
}

h3 {
    font-size: 14px;
}

#tudo {
    margin-top: 15px;
}
#sidebar-left {
    float: left;
    width: 23%;
    margin-left: 10px;
}
#sidebar-right {
    width: 20%;
    float: right;
}

#videoplayer {
    float: left;
    margin-left: 60px;
}
#principal {
    margin: 0px auto;
}

.clear {
    clear: both;
}


div#caminhovideo {
    padding: 15px;
    margin-bottom: 10px;
}

div#caminhovideo:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#caminhovideo label {
    padding: 5px;
    float:left;
    margin-left: 25px;
}
div#caminhovideo p {
    font: 15px Helvetica;
    color: #404040;
    font-style: italic;
}

div#videopasta {
    display: inline;
}

div.caixa {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px -20px 20px;
}

div.caixa input {
    width: 25%;
    padding: 2px;
}

div#videopasta span {
    float:left;
}

div#lista_videos {
padding: 15px 0px;
}

#lista_videos {
max-height: 300px;
font-size:12px;

-moz-column-count: 3;
-webkit-column-count: 3;

-moz-column-width: 20px; 
-webkit-column-width: 20px; 

-moz-column-gap: 20px;
-webkit-column-gap: 20px;
}

.colunaunica {
    -moz-column-count: 1!important;
    -webkit-column-count: 1!important;
}

div#lista_videos p:first-child{
margin-top: 0px;
}

#video {
box-shadow: 0 0 30px #000;
max-width: 100%;
max-height: 100%;
}

#video:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* estiliza os botoes */
button:active {
    position: relative;
    top: 2px;
}
button.play {
}  
button.pause {
}

div#drop_zone div#borda {
    border: 4px dashed #68a5b7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
div#drop_zone div#borda:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#drop_zone {
    width: 61%;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background: #7CC0D5;
}

div#drop_zone:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div#drop_zone span {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    float: left;
    text-shadow: 2px 1px 4px #000;
    padding-bottom: 15px;
}

.hover {
    border-color: red!important;
}

/* -------------- Cloud -------------- */

i {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    
    -webkit-filter: drop-shadow( hsla(0,0%,100%,.5) 0  1px  1px )
                    drop-shadow( hsla(0,0%,100%,.5) 0 -6px  6px ) 
                    drop-shadow( hsla(0,0%,  0%,.3) 0 10px 10px );
        
    -webkit-mask-repeat: no-repeat;
    float:left;
}

i.cloud::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -webkit-linear-gradient(-45deg, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,.15) 50%, hsla(0,0%,100%,0) 50% );
}

i.cloud {
    background-image: -webkit-radial-gradient( 50% 40%, 80% 60%, 
                        hsla(0,0%,100%,.3), hsla(0,0%,100%,0) 50%, hsla(0,0%,0%,.8) ),
                        url(../img/whirl.jpg);
    background-position: center, 25% 0%;
    
    -webkit-mask-image: url(../svg/cloud.svg), url(../svg/cloud.svg);
    -webkit-mask-composite: xor;
    -webkit-mask-position: 0 0, -100px -100px;
    -webkit-transition: -webkit-mask-position .4s cubic-bezier(.65, .06, 1, .42);    
    -webkit-animation: cloud-active 2s .4s cubic-bezier(0, .80, 1, .20) infinite;
    -webkit-transform: translateY(1px);
    -webkit-filter: drop-shadow( hsla(0,0%,100%,.5) 0  1px  1px )
                    drop-shadow( hsla(0,0%,100%,.5) 0 -3px  6px ) 
                    drop-shadow( hsla(0,0%,  0%,.3) 0  5px 10px );
    margin-left: 27px;
}

@-webkit-keyframes cloud-active {
      0% { -webkit-mask-position: 0 0, -100px -100px; }
    100% { -webkit-mask-position: 0 0, -100px 30px; }
}

/*Botoes checkbox*/

.checkbox-style input[type="checkbox"]:before
{
    content: "....";
    background: url('../img/checkbox_unchecked.png') no-repeat;
    color: transparent;
}

.checkbox-style input[type="checkbox"]:checked:after
{
    content: "....";
    background: url('../img/checkbox_checked.png') no-repeat;
    color: transparent;
    position: relative;
    left: -13px;
}

.checkbox-style input[type="radio"]:before
{
    content: "....";
    background: url('../img/radio_unchecked.png') no-repeat;
    color: transparent;
}

.checkbox-style input[type="radio"]:checked:after
{
    content: "....";
    background: url('../img/radio_checked.png') no-repeat;
    color: transparent;
    position: relative;
    left: -14px;
}
